<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>maiya002.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1B79E7CA1D843514006DE885</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B79E7E31D843515006DE885</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B79E7EE1D843515006DE885</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
